<header>
  <h1>Biblioteka Zuz</h1>
  <img src="gfx/main/logo.png" alt="logo" />
  <div class="basket_title">
    <h2>Twój koszyk</h2>
  <form action="/backForm" method="get">
    <input type="submit" name="powrot" value="Powrót" class="goBack_btn" />
  </form>
  <form method="get" action="/deleteAllItems" id="deleteAllForm">
    <input type="submit" value="Opróżnij koszyk" name="usunZawartosc" />
  </form>
  </div>
</header>

<div class="left">
  <h3 class="orderedTitles_title">Zamówione tytuły: </h3>
  <ul class="orderedTitles">
    {{#each itemsy}}
      <li>"{{tytul}}"</li>
    {{/each}}
  </ul>

</div>

<div class="right">
<table>
    <tr class="table_headers">
      <td class="index">Nr</td>
      <td>Tytul</td>
      <td>Autor</td>
      <td>Wydawnictwo</td>
      <td>Gatunek</td>
      <td>Okładka</td>
      <td>Usuń</td>
    </tr>

    {{#each itemsy}}
    <tr>
      <td class="index">{{@key}}</td>
      <td>{{tytul}}</td>
      <td>{{autor}}</td>
      <td>{{wydawnictwo}}</td>
      <td>{{gatunek}}</td>
      <td class="cover"><img src="upload/{{okladka}}" alt="brak"/></td>
      <td><form action="\deleteFromBasket" method="get">
          <input type="hidden" name="tytul" value="{{tytul}}"/>
          <input type="hidden" name="autor" value="{{autor}}"/>
          <input type="hidden" name="wydawnictwo" value="{{wydawnictwo}}"/>
          <input type="hidden" name="gatunek" value="{{gatunek}}"/>
          <input type="hidden" name="okladka" value="{{okladka}}" />
          <input type="submit" value="Usuń"/>
        </form></td>
    </tr>
    {{/each}}
</table>
</div>
