<header>
<h1>Księgarnia Zuz</h1>
<img src="gfx/main/logo.png" alt="logo" />
<div class="edit_title">
  <h2>Wybrana książka</h2>
  <form action="/backForm" method="get">
    <input type="submit" name="powrot" value="Powrót" class="goBack_btn" />
  </form>
  </div>
</header>

<div class="edit_box">
  <img src="upload/{{okladka}}" alt="brak" />
  <h3>{{tytul}}</h3>
  <p><span class="chosenOne">Autor: </span>{{autor}}</p>
  <p><span class="chosenOne">Wydawnictwo: </span>{{wydawnictwo}}</p>
  <p><span class="chosenOne">Gatunek: </span>{{gatunek}}</p>
  <p class="right_info"><span class="chosenOne">Informacje: </span>{{informacje}}</p>
</form>
</div>
